/*------[Page Menu]------*/
.page-menu {
	padding: 1.1% 0 0.4% 0;
	height: 25vh;
	a {
		text-decoration: none;
		color: gray;
	}
	background-color: #f7f7f7;
}
.bottom-border {
	border-bottom: 1px solid #c0c0c0;
}
.website-path {
	padding: 0 0 0 2%;
	font-size: 14px;
}
.current-page {
	font-weight: bold;
}
.page-name {
	text-align: center;
	font-family: 'Manrope';
	font-size: 50px;
}

/*------[Product Cards]------*/
.catalogue {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 10vh;
}
.card {
	width: 23vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	float: left;
	display: flex;
	flex-direction: column;
}
.card-img {
	width: 90%;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}
.card-info {
	padding-top: 1%;
	padding-left: 7%;
}
.card-title {
	font-weight: normal;
	font-size: 20px;
	font-family: 'Hanken Grotesk';
}
.card-price {
	display: block;
	font-size: 13px;
	color: grey;
}
